body {
    margin: 0;
}

.navbar {
    background-color: lightslategray;
    font-family: Arial, sans-serif;
    color: white;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-item {
    font-variant: small-caps;
    font-size: 2em;
    font-weight: 600;
    margin-left: 30px;
}

.body-content {
    padding: 50px 10px;
    font-family: Arial, sans-serif;
}

form{
    margin: 20px;
}