{% extends "webapp/layout.html" %}
{% block title %}
    Accueil
{% endblock %}
{% block content %}
    <center>
        Accéder à l'outil de configuration automatique:
        <br>
        <a href="{% url 'autoconfig' %}">AutoConfig</a>
        <br><br><br>
        Ou <a href="{% url 'explorer' %}">explorer</a> la base de données
    </center>
{% endblock %}