{% extends "webapp/layout.html" %}
{% block title %}
    AutoConfig
{% endblock %}
{% block content %}
<center>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Générer">
    </form>
    {% include "webapp/component_list.html" with component_list=config %}
</center>
{% endblock %}