{% load static %}
{% if component_list %}
<table>
    <thead>
        {% for col in component_list.head %}
        <th>
            {{ col }}
        </th>
        {% endfor %}
    </thead>
    <tbody>
        {% for tr in component_list.body %}
        <tr>
            {% for col in component_list.head_raw %}
            <td>
                {% if col in tr %}
                {% if col == 'url' %}
                <img src="{% static 'webapp/prodimg/' %}{{ tr.url }}.jpg" alt="Image" width="80">
                {% elif col == 'name' %}
                <strong>{{ tr.name }}</strong>
                {% elif col == 'passmark' %}
                <center>
                    {% if tr.passmark %}<strong>{{ tr.perf_rating }}</strong> / 100{% else %}?{% endif %}
                    <br>
                    <span style="font-size: 0.7em;">Passmark: {% if tr.passmark %}{{ tr.passmark }}{% else %}not found{% endif %}</span>
                </center>
                {% elif col == 'price' %}
                <center>
                    {{ tr.price | floatformat:"2" }} €
                </center>
                {% elif col == 'cores' %}
                <center>
                    <span style="font-size: 0.9em;">{{ tr.cores }} coeurs</span>
                    <br>
                    <span style="font-size: 0.8em;">{{ tr.threads }} threads</span>
                </center>
                {% elif col == 'max_cpu_tdp' %}
                <center>
                    <strong>{{ tr.perf_rating }}</strong> / 100
                    <br>
                    <span style="font-size: 0.8em;">{{ tr.max_cpu_tdp }} W</span>
                </center>
                {% elif col == 'power' %}
                <center>
                    <strong>{{ tr.perf_rating }}</strong> / 100
                    <br>
                    <span style="font-size: 0.8em;">{{ tr.power }} W</span>
                </center>
                {% else %}
                <center>Bug</center>
                {% endif %}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
Rien à afficher.
{% endif %}