{% extends "webapp/layout.html" %}
{% load static %}
{% block title %}
Explorer
{% endblock %}
{% block content %}
<center>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Explorer">
    </form>
    {% include "webapp/component_list.html" %}
</center>
{% endblock %}