{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'webapp/icon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/site.css' %}" />
</head>

<body>
    <div class="navbar">
        <a href="{% url 'accueil' %}" class="navbar-item" style="margin-left: 0;">
            <img width="40" src="{% static 'webapp/icon.png' %}">
            Accueil
        </a>
        <a href="{% url 'autoconfig' %}" class="navbar-item">AutoConfig</a>
        <a href="{% url 'explorer' %}" class="navbar-item">Explorer</a>
    </div>

    <div class="body-content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>